@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Quicksand;
    color: white;
    font-size: 37px;
    margin: 0px 25px;
    padding-top: 30px;
    padding-bottom: 20px;

}

#hd1 {
    background: linear-gradient(to right, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
}

#hd2 {
    background: linear-gradient(to right, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
    text-align: right;
    font-size: 20px;
    padding-right: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
}

a {
    color: white;
    font-family: Quicksand;
    font-weight: bold;
    margin: 0px 5px;
    
}

a:hover {
    cursor: pointer;
}

span {
    margin-left: 15px;
}

#bookList:hover{
    color: black;
}

#addBooks:hover{
    color: black;
}

#searchBooks:hover{
    color: black;
}

main {
    background-color: white;
    padding-top: 25px;
}

h2 {
    font-family: Quicksand;
    color: black;
    font-size: 30px;
    margin: 0px 25px; 
    margin-bottom: 15px;
    border-bottom: solid 1px black;
}

label {
    font-family: Quicksand;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 28px; 
}

select {
    height: 36px;
    width: 140px;
    margin-top: 10px;
    margin-right: 25px;
    border-radius: 5px;
    font-size: 18px;
}

select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

input {
    height: 30px;
    width: 300px;
    margin-top: 10px;
    margin-right: 25px;
    font-size: 18px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
}

input:focus {
    outline: none;
}

#searchB1, #clearBtn {
    height: 35px;
    width: 130px;
    margin-right: 25px;
    background: linear-gradient(to right, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: bold;
    border: 0;
}

#searchB1:hover{
    color: white;
    background: linear-gradient(to right, rgb(4, 66, 2) 0%, rgb(82, 255, 66) 100%);
    cursor: pointer;
}

#clearBtn:hover{
    color: white;
    background: linear-gradient(to right, rgb(97, 6, 6) 0%, rgb(255, 0, 0) 100%);
    cursor: pointer;
}

.addBookForm {
    display: none;
}

#i1 {
    margin-left: 55px;
}

#i2 {
    margin-left: 29px;
}

#i3 {
    margin-left: 5px;
}

#i4 {
    margin-left: 25px;
}

#i5 {
    margin-left: 8px;
}

#addB {
    height: 35px;
    width: 100px;
    margin-top: 30px;
    margin-left: 142px;
    color: white;
    background: linear-gradient(to bottom, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
    border: 0;
    border-radius: 5px;
}

#addB:hover {
    color: white;
    background: linear-gradient(to right, rgb(4, 66, 2) 0%, rgb(82, 255, 66) 100%);
    cursor: pointer;
}

article {
    margin-top: 25px;
    margin-left: 25px;
    padding-bottom: 35px;
}

tr {
    display: none;
}

th,td {
    width: 180px;
    height: 50px;
    text-align: center;
    border: solid 1px #ffbb33;
    font-size: 18px;
}

td > a {
    color: black;
}

th {
    font-family: Quicksand;
    font-size: 22px;
    background: linear-gradient(to bottom, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
    color: white;
}

td > img {
    height: 30px;
}

td > img:hover {
    cursor: pointer;
}

footer {
    background: linear-gradient(to bottom, rgb(27, 40, 56) 0%, rgb(72, 124, 187) 100%);
    text-align: center;
    font-family: Quicksand;
    height: 30px;
    color: white;
}

footer > p {
    padding: 5px;
}

/* ||||||||||||||||||||||--Star-Styling--||||||||||||||||||||||||| */

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #f8ce0b;
}

/* ||||||||||||||||||||||--Star Styling--||||||||||||||||||||||||||| */